# This file contains sensitive information such as tokens and database credentials.
# Make sure to keep this file secure and do not share it publicly.
# Note: The token and credentials in this file are placeholders. Replace them with your actual values.

LOG_LANGUAGE=en

# Discord Bot Token (Create API KEY)
DISCORD_TOKEN=your.api.key

# Youtube OAuth Token (Create with lavalink cli)
YOUTUBE_OAUTH_REFRESH_TOKEN=1//oauth-token

# Log files
LOG_FILE=./logs/bot.log

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Lavalink
LAVALINK_URI=http://lavalink:2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_PORT=2333
LAVALINK_OPUS=true

# Spotify (Create API KEY [Premium required])
SPOTIFY_CLIENT_ID=client_id
SPOTIFY_SECRET_ID=secret_id